

@use '@angular/cdk';
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use "tailwindcss";

@include cdk.a11y-visually-hidden();


@layer components {
  /* Fuerza el background del badge usando una variable */
  .legacy-badge {
    background: var(--badge-bg, #a1a1aa) !important; /* nota: background (shorthand) + !important */
  }
}


// Define the theme.
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  ),
));
// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme);
// Emit theme-dependent styles for all components.
@include mat.all-component-themes($theme);
html, body { height: 100%; }

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

.main-container {
  padding: 20px;
}

@layer utilities {
  .fix-grid-1-3 {
    display: grid !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  @media (min-width: 768px) {
    .fix-grid-1-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }
}

/* Estilos globales para el Drag and Drop del CDK */

/* Estilo para la vista previa del elemento que se arrastra */
.cdk-drag-preview .task-card {
  box-shadow: var(--mat-elevation-z5) !important; /* Usamos !important para asegurar que sobreescriba otros estilos */
  transform: rotate(3deg) !important;
  cursor: grabbing !important;
  background-color:rgb(255, 238, 183) !important; //var(--mat-sys-surface-container-low); /* Mantenemos un color de fondo consistente */
}
